body {
    font-family:"Poppins",sans-serif;
    background-color:#0b0f14;
    text-align:center;
    color:#eee;
    padding:1rem;
}


.container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:8px;
}


img{
    width:100px;
    height:100px;
    object-fit:cover;
    cursor:grab;
    border-radius:6px;
    box-shadow:0 0 10px #333;

}

#message{
    margin-top:15px;
    font-size:1.2rem;
    font-weight:600;
}
button{
    margin:10px;
    padding:10px 15px;
    background-color:#10b981;
    color:#eee;
    border:none;
    border-radius:5px;
    cursor:pointer;
}