body{
    min-height:4096px;
    margin:0;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #333;
    transition: background-color 0.3s ease;
}