body{
    margin:0;
    font-family:Arial,sans-serif;
    background-color: #88c1d0;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#275fa0;
    padding:1rem;
    color:#fff;
}

.nav-links{
    gap:20px;
    list-style:none;
    display:flex;
}

.nav-links a {
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}

.hamburger{
    display:none;
    cursor:pointer;
    font-size:1.5rem;
}



/* MEDIA QUERIES */

@media(max-width:767px){
    .nav-links{
        display:none;
        flex-direction:column;
        background-color:#275fa0;
        position:absolute;
        top:60px;
        right:10px;
        padding:10px;
        border-radius:5px;
    }

    .hamburger{
        display:block;
    }

    .nav-links.active{
        display:flex;
    }
}