*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


body{
    display:flex;
    flex-wrap:wrap;
}

.section{
    flex:1 1 50%;
    height:200px;
    border:1px solid #fff;
    background-color:#88c1d0;
}

@media screen and (min-width:1680px){
    .section{
        flex:1 1 20%;
    }
}

@media screen and (max-width:1680px) and (min-width:1280px){
    .section{
        flex:1 1 50%;
    }
}


@media screen and (max-width:1280px){
    .section{
        flex: 1 1 100%;
    }
}