body{
    height:100vh;
    background-color:#0b0f14;
    color:#eee;
    font-family:"Poppins", sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

button{
    margin:10px;
    padding:10px 16px;
    background-color: #0ea5e9;
    border:none;
    border-radius:6px;
    color:#eee;
    font-weight:600;
    cursor:pointer;
}

.proverbe{
    display:none;
}